@{
	ViewBag.Message = "Welcome to Global Markets Onboarding Portal";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="section">
	<h3 class="section-header">
		Dashboard
	</h3>
	<div class="row">
		<div class="col-lg-3 col-md-6 col-sm-6 col-12">
			<div class="card card-sm-4">
				<div class="card-icon bg-primary">
					<i class="ion ion-person"></i>
				</div>
				<div class="card-wrap">
					<div class="card-header">
						<h4>Registered Clients</h4>
					</div>
					<div class="card-body">
						@ViewData["RegisteredClients"]
					</div>
				</div>
				<div class="card-cta"> <a href="DigitalDesk/RegisteredClients"> View All <i class="ion ion-ios-arrow-right"></i> </a></div>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-6 col-12">
			<div class="card card-sm-4">
				<div class="card-icon bg-warning">
					<i class="ion ion-paper-airplane"></i>
				</div>
				<div class="card-wrap">
					<div class="card-header">
						<h4>Incomplete Applications</h4>
					</div>
					<div class="card-body">
						@ViewData["InCompleteApplications"]
					</div>
				</div>
				<div class="card-cta"> <a href="DigitalDesk/InCompleteApplications"> View All <i class="ion ion-ios-arrow-right"></i> </a></div>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-6 col-12">
			<div class="card card-sm-4">
				<div class="card-icon bg-danger">
					<i class="ion ion-ios-paper-outline"></i>
				</div>
				<div class="card-wrap">
					<div class="card-header">
						<h4>Pending OPS Approval</h4>
					</div>
					<div class="card-body">
						@ViewData["PendingOpsApprovals"]
					</div>
				</div>
				<div class="card-cta"> <a href="DigitalDesk/CompleteApplications"> View All <i class="ion ion-ios-arrow-right"></i> </a></div>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-6 col-12">
			<div class="card card-sm-4">
				<div class="card-icon bg-danger">
					<i class="ion ion-ios-paper-outline"></i>
				</div>
				<div class="card-wrap">
					<div class="card-header">
						<h4>Pending POA Approval</h4>
					</div>
					<div class="card-body">
						@ViewData["PendingPOAApprovals"]
					</div>
				</div>
				<div class="card-cta"> <a href="DigitalDesk/PendingPOAApprovals"> View All <i class="ion ion-ios-arrow-right"></i> </a></div>
			</div>
		</div>
	</div>
	<!-- /.row -->
</section>
<div class="row d_none">
	<div class="col-md-2">
		<div class="card text-white bg-warning o-hidden h-100">
			<div class="card-body">
				<div class="card-body-icon">
					@ViewData["PendingPOAApprovals"]
				</div>
				<div class="mr-5"> Pending POA Approvals </div>
			</div>
			<a class="card-footer text-white clearfix small z-1" href="DigitalDesk/PendingPoaApproval">
				<span class="float-left"> View Details </span>
				<span class="float-right">
					<i class="fa fa-angle-right"></i>
				</span>
			</a>
		</div>
	</div>
	<div class="col-md-2">
		<div class="card text-white bg-success o-hidden h-100">
			<div class="card-body">
				<div class="card-body-icon">
					@*<i class="fa fa-check fa-fw"></i>*@
					@ViewData["Approvals"]
				</div>
				<div class="mr-5"> Approved Applications </div>
			</div>
			<a class="card-footer text-white clearfix small z-1" href="DigitalDesk/ApprovedApplications">
				<span class="float-left"> View Details </span>
				<span class="float-right">
					<i class="fa fa-angle-right"></i>
				</span>
			</a>
		</div>
	</div>
	<div class="col-md-2">
		<div class="card text-white bg-danger o-hidden h-100">
			<div class="card-body">
				<div class="card-body-icon">
					@ViewData["DeclinedApplications"]
				</div>
				<div class="mr-5"> Declined Applications </div>
			</div>
			<a class="card-footer text-white clearfix small z-1" href="DigitalDesk/DeclinedApplications">
				<span class="float-left"> View Details </span>
				<span class="float-right">
					<i class="fa fa-angle-right"></i>
				</span>
			</a>
		</div>
	</div>
</div> <hr class="m_top_10" />
<!-- /.row -->
<div class="row">
	<div class="col-12 col-md-6 col-lg-6">
		<div class="card">
			<div class="card-header">
				<div class="float-right"><button id="save-bar-graph" class="btn btn-primary"> <i class="fa fa-save"></i> Save </button></div>
				<h4> Client Applications </h4>
			</div>
			<div class="card-body">
				<canvas id="myChart1"></canvas>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6 col-lg-6">
		<div class="card">
			<div class="card-header">
				<div class="float-right"><button id="save-pie-chart" class="btn btn-primary"> <i class="fa fa-save"></i> Save </button></div>
				<h4> Application Statuses </h4>
			</div>
			<div class="card-body">
				<canvas id="myChart2"></canvas>
			</div>
		</div>
	</div>
</div> <hr class="m_top_10" />
<div class="row">
	<div class="col-12 col-lg-6 col-sm-6">
		<div class="card">
			<div class="card-header">
				<h4>Menu Quicklinks</h4>
			</div>
			<div class="card-body">
				<div class="bd-example">
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col">Menu</th>
								<th scope="col">Quick Link</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row"><span class="step">1</span></th>
								<td>Registered Clients</td>
								<td><a href="/Admin/RegisteredClients"> Admin/RegisteredClients </a></td>
							</tr>
							<tr>
								<th scope="row"><span class="step">2</span></th>
								<td>Client Signatories</td>
								<td><a href="/Admin/ClientSignatories"> Admin/ClientSignatories </a></td>
							</tr>
							<tr>
								<th scope="row"><span class="step">3</span></th>
								<td>Client Representatives</td>
								<td><a href="/Admin/AuthorisedRepresentatives"> Admin/AuthorisedRepresentatives </a></td>
							</tr>
							<tr>
								<th scope="row"><span class="step">4</span></th>
								<td>Notifications</td>
								<td><a href="/Admin/Notifications"> Admin/Notifications </a></td>
							</tr>
							<tr>
								<th scope="row"><span class="step">5</span></th>
								<td>Manage Currencies</td>
								<td><a href="/Admin/ManageCurrencies"> Admin/ManageCurrencies </a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-md-12 col-12 col-sm-12">
		<div class="card">
			<div class="card-header">
				<div class="float-right"> <a href="/DigitalDesk/Notifications" class="btn btn-primary"><i class="fa fa-envelope-open"></i> View All </a> </div>
				<h4>Recent System Message</h4>
			</div>
			<div class="card-body">
				@foreach (var item in ViewBag.SystemNotifications)
				{
					<ul class="list-unstyled list-unstyled-border">
						<li class="media">
							<img class="mr-3" width="50" src="../content/images/email_avatar.png" alt="avatar">
							<div class="media-body">
								<div class="float-right"><small>@item.DateCreated.ToString("yyyy/M/dd H:ss")</small></div>
								<div class="media-title">@item.From</div>
								<small>@Html.Raw(item.MessageBody)</small>
							</div>
						</li>
					</ul>
				}
			</div>
		</div>
	</div>
</div>
<!-- /.row -->
<script type="text/javascript">
	$(document).ready(function () {
		$(function () {
			toastr.success('@ViewBag.Message');
		});
	});

	var ctx = document.getElementById("myChart1").getContext('2d');
	var myChart = new Chart(ctx, {
		type: 'bar',
		data: {
			labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Aug", "Sep", "Oct", "Nov", "Dec"],
			datasets: [{
				label: 'Approved Applications',
				data: @ViewData["Chart1Data"],
				borderWidth: 2,
				backgroundColor: 'rgb(87,75,144)',
				borderColor: 'rgb(87,75,144)',
				borderWidth: 2.5,
				pointBackgroundColor: '#ffffff',
				pointRadius: 4
			}]
		},
		options: {
			legend: {
				display: false
			},
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero: true,
						stepSize: 1
					}
				}],
				xAxes: [{
					ticks: {
						display: true
					},
					gridLines: {
						display: false
					}
				}]
			},
		}
	});

	var ctx = document.getElementById("myChart2").getContext('2d');
	var myChart = new Chart(ctx, {
		type: 'pie',
		data: {
			datasets: [{
				data: @ViewData["Chart2Data"],
				backgroundColor: [
					'#28a745',
					'#dc3545',
					'#ffc107',
					'#343a40',
				],
				label: 'Dataset 1'
			}],
			labels: [
				'Approved',
				'Pending Approval',
				'Incomplete',
				'Declined',
			],
		},
		options: {
			responsive: true,
			legend: {
				position: 'right',
			},
		}
	});
	// save as image
	var canvas = $('#myChart1').get(0);
	$('#save-bar-graph').click(function() {
		canvas.toBlob(function(blob) {
			saveAs(blob, "GM_approved_applications.png");
		});
	});

	var canvas1 = $('#myChart2').get(0);
	$('#save-pie-chart').click(function() {
		canvas1.toBlob(function(blob) {
			saveAs(blob, "GM_application_statuses.png");
		});
	});
</script>