<div class="col-12 col-lg-12 p-0">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Full Names</th>
				<th>Designation</th>
				<th>Company</th>
				<th>Phone</th>
				<th>Email</th>
				<th>Date of Sign-Up</th>
				<th>Signature</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>@(ViewBag.SignatoryInfo.Surname + " " + ViewBag.SignatoryInfo.OtherNames)</td>
				<td>@ViewBag.SignatoryInfo.Designation</td>
				<td>@ViewBag.RegisteredClientInfo.CompanyName</td>
				<td>@ViewBag.SignatoryInfo.PhoneNumber</td>
				<td>@ViewBag.SignatoryInfo.EmailAddress</td>
				<td>@ViewBag.SignatoryInfo.DateCreated</td>
				<td>
					@if (ViewBag.SignatoryInfo.Signature == null || ViewBag.SignatoryInfo.Signature == "")
					{
						<img width="100" height="80" src="~/Content/images/signatures/no-signature-17.jpg" />
					}
					else
					{
						<img width="100" height="80" src="~/Content/images/signatures/@ViewBag.SignatoryInfo.Signature" />
					}
				</td>
			</tr>
		</tbody>
	</table>
	@if (ViewBag.ApprovalDetails == false)
	{
		<button onclick="LoadUpDeleteClientModal('@ViewBag.SignatoryInfo.Id')" type="submit" id="btnDeleteClient" name="btnDeleteClient" class="btn btn-danger float-right"><i class="fa fa-trash"></i> Delete Signatory </button>
	}
	else
	{

	}
</div>
<script type="text/javascript">

	//Function Load modal
	function LoadUpDeleteClientModal(getSignatoryId) {
		$('#LoadUpDeleteModal').modal({ backdrop: 'static', keyboard: false });
		$.ajax({
			type: "POST",
			url: "/DigitalDesk/LoadDeleteSignatory",
			data: '{getSignatoryId: "' + getSignatoryId + '" }',
			contentType: "application/json; charset=utf-8",
			dataType: "html",
			success: function (data) {
				$('.students-data').html(data);
			}
		});
	}

</script>
>>>>>>> 4a57cb65d9ff4345fc860a183a3da86a25aa01d6
