@model OnBoarding.ViewModels.AdminApproveViewModel
<script src="@Url.Content("~/Assets/fwizard/form-wizard.js")"></script>
<div class="form-row form-wizard">
    <!-- Form Wizard -->
    <form class="mt-0" role="form" id="ApplicationForm" action="" method="POST" accept-charset="utf-8">
        <!-- Form Step 1 -->
        <fieldset>
            <h6>Company Details</h6><hr />
            <div class="form-group">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr class="success">
                            <th>Business Account :</th>
                            <td style="text-align: right;"><i class="fa fa-archive"></i></td>
                        </tr>
                        <tr>
                            <th>Company Account Number:</th>
                            <td id="AccountNumber" name="AccountNumber">@ViewBag.ApplicationInfo.AccountNumber</td>
                        </tr>
                        <tr class="success">
                            <th>Company Details:</th>
                            <td style="text-align: right;"><i class="fa fa fa-building fa-x"></i></td>
                        </tr>
                        <tr>
                            <th>Company Name:</th>
                            <td id="CompanyName" name="CompanyName">@ViewBag.CompanyInfo.CompanyName</td>
                        </tr>
                        <tr>
                            <th>Company Registration Number:</th>
                            <td id="ConfirmRegistration" name="ConfirmRegistration">@ViewBag.CompanyInfo.CompanyRegNumber</td>
                        </tr>
                        <tr class="success">
                            <th>Principal Place of Business:</th>
                            <td style="text-align: right;"><i class="fa fa fa-location-arrow fa-x"></i></td>
                        </tr>
                        <tr>
                            <th>Company Building:</th>
                            <td id="Building" name="Building">@ViewBag.CompanyInfo.CompanyBuilding</td>
                        </tr>
                        <tr>
                            <th>Street:</th>
                            <td id="Street" name="Street">@ViewBag.CompanyInfo.CompanyStreet</td>
                        </tr>
                        <tr>
                            <th>Company Town/City:</th>
                            <td id="CompanyTownCity" name="CompanyTownCity">@ViewBag.CompanyInfo.CompanyTownCity</td>
                        </tr>
                        <tr>
                            <th>Postal Address:</th>
                            <td id="PostalAddress" name="PostalAddress">@ViewBag.CompanyInfo.PostalAddress - @ViewBag.CompanyInfo.PostalCode - @ViewBag.CompanyInfo.TownCity</td>
                        </tr>
                        <tr>
                            <th>Business Email Address:</th>
                            <td id="BusinessEmailAddress" name="BusinessEmailAddress">@ViewBag.CompanyInfo.BusinessEmailAddress</td>
                        </tr>
                        <tr>
                            <th>Attention where notices will be sent:</th>
                            <td id="AttentionTo" name="AttentionTo">@ViewBag.CompanyInfo.AttentionTo</td>
                        </tr>
                        <tr class="success">
                            <th>Company Settlement Accounts:</th>
                            <td style="text-align: right;"><i class="fa fa fa-money fa-x"></i></td>
                        </tr>
                        <tr>
                            <th>Settlement Accounts:</th>
                            <td id="SettlementAccounts" name="SettlementAccounts">
                                @if (ViewBag.SettlementAccounts.Count != 0)
                                {
                                    <table class="custom-table">
                                        <th> Currency</th>
                                        <th> Account Number</th>
                                        @foreach (var item in ViewBag.SettlementAccounts)
                                        {
                                            <tbody>
                                            <td>@item.CurrencyName</td>
                                            <td>@item.AccountNumber</td>
                                            </tbody>
                                        }
                                    </table>
                                }
                                else
                                {
                                    <table class="custom-table">No Settlement Accounts</table>
                                }
                            </td>
                        </tr>
                        <tr class="success">
                            <th>Signatories Details:</th>
                            <td style="text-align: right;"><i class="fa fa fa-users fa-x"></i></td>
                        </tr>
                        <tr>
                            <th>Signatories:</th>
                            <td id="Signatories" name="Signatories">
                                <table class="custom-table">
                                    <th> Full Names</th>
                                    <th> Designation </th>
									 <th> Email </th>
                                    <th> Phone </th>
                                    <th> Signature </th>
                                    @foreach (var item in ViewBag.ClientSignatory)
                                    {
                                        <tbody>
                                        <td>@(item.Surname + " " + item.OtherNames)</td>
                                        <td>@item.Designation</td> 
                                        <td>@item.EmailAddress</td>
										<td>@item.PhoneNumber</td>
                                        <td>
                                            @if (item.Signature == null || item.Signature == "")
                                            {
                                                <img width="100" height="80" src="~/Content/images/signatures/no-signature-17.jpg" />
                                            }
                                            else
                                            {
                                                <img width="100" height="80" src="~/Content/images/signatures/@item.Signature" />
                                            }
                                        </td>
                                        </tbody>
                                    }
                                </table>
                            </td>
                        </tr>
                        <tr class="success">
                            <th>Authorized Representatives:</th>
                            <td style="text-align: right;"><i class="fa fa fa-users fa-x"></i></td>
                        </tr>
                        <tr>
                            <th>Authorized Representatives:</th>
                            <td id="Representatives" name="Representatives">
                                <table class="custom-table">
                                    <th> Full Names</th>
                                    <th> Email </th>
									<th> Phone </th>
                                    <th> Trading Limit </th>
                                    <th> EMarket SignUp </th>
                                    <th> Signature </th>
                                    @foreach (var item in ViewBag.DesignatedUser)
                                    {
                                        <tbody>
                                        <td>@(item.Surname + " " + item.Othernames)</td>
                                        <td>@item.Email</td>
										<td>@item.Mobile</td>
                                        <td>@item.TradingLimit</td>
                                        <td>@(item.EMarketSignUp ? "Yes" : "No")</td>
                                        <td>
                                            @if (item.Signature == null || item.Signature == "")
                                            {
                                                <img width="100" height="80" src="~/Content/images/signatures/no-signature-17.jpg" />
                                            }
                                            else
                                            {
                                                <img width="100" height="80" src="~/Content/images/signatures/@item.Signature" />
                                            }
                                        </td>
                                     </tbody>
                                    }
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="form-wizard-buttons">
                    <div class="col-md-6">
                        <div class="input-group accept-terms">
                            <input type="hidden" id="ApplicationId" name="ApplicationId" value="@ViewData["ApplicationId"]" class="form-control">
                            <input type="hidden" id="CompanyEmail" name="CompanyEmail" value="@ViewData["CompanyEmail"]" class="form-control">
                            <input type="hidden" id="CompanyName" name="CompanyName" value="@ViewData["CompanyName"]" class="form-control">
                            <input type="hidden" id="OPSCanApprove" name="OPSCanApprove" value="@ViewData["OPSCanApprove"]" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12">
                        <h5>Provide notes upon decline (if any) </h5>
                        <div class="form-group">
                            <textarea cols="12" rows="4" placeholder="Approval Notes ..." id="Comments" name="Comments" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-wizard-buttons">
                            <button type="submit" class="btn btn-danger btnDecline"><i class="fa fa-trash"></i> Decline </button>
                            <button type="submit" class="btn btn-submit btnApprove d_none"><i class="fa fa-check-circle-o"></i> Approve </button>
                        </div>
                    </div>
                </div>
            </div><br />
        </fieldset>
        <!-- End Form Step 2 -->
    </form>
    <!-- End Form Wizard -->
    <!--Processing Submission -->
    <div class="col-lg-12 d_none" id="Loading_Div">
        <center class="r_corners m_top_20">
            <h4 class="m_top_20 m_bottom_20">Please wait... Processing Your Submission</h4>
            <img src="~/Content/images/loading-bar.gif" class="img-thumbnail m_bottom_20" alt="Loading" style="max-width:160px;">
        </center>
    </div>
    <!--End Submission Processing -->
</div>
<script type="text/javascript">
    jQuery().ready(function () {
        var v = jQuery("#ApplicationForm").validate({
            rules: {
				Comments: {
					required: true,
                    minlength: 4,
                    maxlength: 200
                }
            },
            errorElement: "span",
            errorClass: "help-inline-error",
        });
    });

    $(document).ready(function () {

        /*//Submit Form (Decline Action)
        $('.btnDecline').on('click', function (e) {
            e.preventDefault();
            if ($('#ApplicationForm').valid()) {
                $("#Loading_Div").show('fast');
                $('#ApplicationForm').hide("fast");
                var formData = new FormData($("#ApplicationForm")[0]);
                $.ajax({
                    url: "/DigitalDesk/DeclineApplication",
                    type: 'POST',
                    data: formData,
                    async: true,
                    success: function () {
                        window.setTimeout(close, 500);
                        function close() {
                            $('#ApplicationForm')[0].reset();
                            $("#Loading_Div").hide('fast');
                            $('#Success_Div').show("fast");
                            window.location.reload();
                        }
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }
		});*/

		//Decline Application
		$('.btnDecline').on('click', function (e) {
			e.preventDefault();
			if ($('#ApplicationForm').valid()) {
				swal({
					title: "Are you sure?",
					text: "Do you really want to decline? This is irreversable!",
					type: "warning",
					showCancelButton: true,
					confirmButtonColor: "#fd302b",
					confirmButtonText: "Yes, Decline",
					cancelButtonText: "No, Cancel",
					closeOnConfirm: false,
					closeOnCancel: true,
					customClass: 'custom-width'
				}).then(function () {
					var formData = new FormData($("#ApplicationForm")[0]);
					$.ajax({
						url: "/DigitalDesk/DeclineApplication",
						type: 'POST',
						data: formData,
						async: true
					}).done(function (data) {
						swal({
							title: "Success!",
							text: "Application has been successfully declined",
							type: "success",
							animation: "slide-from-top",
							showConfirmButton: true,
							timer: 2500
						});
						//Reload Jtable
						window.location.reload();
					//Show delete error on fail
					}).fail(function (data) {
						swal({
							title: "Error!",
							text: "Sorry. There was a problem Submitting Your Entry. Please try again or contact Systems administrator if the problem persists.",
							type: "error",
							animation: "slide-from-top",
							showConfirmButton: true
						});
					});
				}); // Swal question
			}
			else {
				swal({
                    title: "Alert!",
                    text: "Please correct form errors to proceed!",
                });
			}
        });
    });
</script>
