@model OnBoarding.ViewModels.DeleteRegisteredClientViewModel
<script src="@Url.Content("~/Assets/fwizard/form-wizard.js")"></script>
<div class="form-row form-wizard">
	<!-- Form Wizard -->
	<form class="mt-0 w_full" role="form" id="ApplicationForm" action="" method="POST" accept-charset="utf-8">
		<!-- Form Step 1 -->
		<fieldset>
			<h6>Company Details</h6><hr />
			<div class="form-group">
				<div class="table-responsive">
					<table class="table table-bordered">
						<tr class="success">
							<th>Client Details :</th>
							<td style="text-align: right;"><i class="fa fa-archive"></i></td>
						</tr>
						<tr>
							<th>Client Account Number:</th>
							<td id="AccountNumber" name="AccountNumber">@ViewBag.RegisteredClientInfo.AccountNumber</td>
						</tr>
						<tr>
							<th>Client Names:</th>
							<td id="Surname" name="Surname">@ViewBag.RegisteredClientInfo.Surname -  @ViewBag.RegisteredClientInfo.OtherNames </td>
						</tr>
						<tr>
							<th>Client Email:</th>
							<td id="EmailAddress" name="EmailAddress">@ViewBag.RegisteredClientInfo.EmailAddress </td>
						</tr>
						<tr class="success">
							<th>Companies:</th>
							<td style="text-align: right;"><i class="fa fa fa-building fa-x"></i></td>
						</tr>
						<tr>
							<td>
							</td>
							<td>
								@if (ViewBag.clientHasApplication)
								{
								}
								else
								{
									<centre>
										<button class="btn btn-danger w_full btn-small" id="deleteBtn">
											<span class="fa fa-trash"></span> Delete
										</button>
									</centre>
								}
							</td>
						</tr>
					</table>
					<div class="form-wizard-buttons">
						<div class="col-md-6">
							<div class="input-group accept-terms">
								<input type="hidden" id="ClientID" name="ClientID" value="@ViewBag.RegisteredClientInfo.Id" class="form-control">
								<input type="hidden" id="ClientEmail" name="ClientEmail" value="@ViewBag.RegisteredClientInfo.EmailAddress" class="form-control">
							</div>
						</div>
					</div>
				</div>
			</div><br />
		</fieldset>
		<!-- End Form Step 2 -->
	</form>
	<!-- End Form Wizard -->
</div>

<script type="text/javascript">
	jQuery().ready(function () {
		$('#deleteBtn').on('click', function (e) {
			e.preventDefault();
			Swal.fire({
				title: 'Are you sure?',
				text: "You won't be able to revert this!",
				icon: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#28a745;',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Yes, Registered Client',
				cancelButtonText: 'No, cancel',
			}).then((result) => {
				if (result.value) {
					var clientId = $('#ClientID').val();
					var clientEmail = $('#ClientEmail').val();
					$.ajax({
						url: "/DigitalDesk/DeleteRegisteredClient",
						type: 'POST',
						data: JSON.stringify({ clientId: clientId,  clientEmail: clientEmail}),
                        async: true,
						contentType: "application/json; charset=utf-8",
						dataType: "json",
						success: function (XmlHttpRequest) {
							if (XmlHttpRequest === 'success') {
								Swal.fire(
									'Success!',
									'Registered Client has been deleted',
									'success'
								)
								window.location.reload();
							}
							else {
								Swal.fire({
									icon: 'error',
									text: XmlHttpRequest
								})
							}
                        },
						error: function (xhr, textStatus, errorThrown) {
							if (textStatus === 'error') {
								$('#RegisteredClientsTableContainer').jtable('load');
								toastr.error('Submission error! Code: ' + xhr.status + ' Details: ' + errorThrown);
							}
						}
					})
				}
			})
		});
	});
</script>