@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title> Stanbic Bank &mdash; Global Markets OnBoarding Portal </title>

	<!-- CSS Bundled Styles -->
	@Scripts.Render("~/bundles/modernizr")
	@Styles.Render("~/bundles/css")

	<!-- Bundled JS -->
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryval")
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body>
	
	<div id="wrapper">
		<!-- Navigation -->
		@Html.Action("Index", "Navbar")

		<div id="page-wrapper">
			@RenderBody()
		</div>
		<!-- /#page-wrapper -->
	</div>
	<!-- /#wrapper -->
	@Scripts.Render("~/bundles/customjs")
	<!-- Page-Level Demo Scripts - Tables - Use for reference -->
	@RenderSection("scripts", required: false)
	<script type="text/javascript">
		toastr.options = {
			"closeButton": true,
			"debug": false,
			"newestOnTop": true, 
			"progressBar": true, 
			"positionClass": "toast-bottom-left",
			"preventDuplicates": true, 
			"onclick": null,
			"showDuration": "2000", 
			"hideDuration": "2000", 
			"timeOut": "30000", 
            "extendedTimeOut": "30000",
			"showEasing": "swing",
			"hideEasing": "linear",
			"showMethod": "fadeIn",
			"hideMethod": "fadeOut"
		};
	</script>
</body>
</html>