@model IEnumerable<OnBoarding.Web.Models.Navbar>
@using Microsoft.AspNet.Identity
@using OnBoarding.ViewModels

<!-- Navigation -->
<nav class="navbar navbar-expand-lg main-navbar">
	<form class="form-inline mr-auto">
		<ul class="navbar-nav mr-3">
			<li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="ion ion-navicon-round"></i></a></li>
			<li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="ion ion-search"></i></a></li>
		</ul>
		<div class="search-element d_none">
			<input class="form-control" type="search" placeholder="Search" aria-label="Search">
			<button class="btn" type="submit"><i class="ion ion-search"></i></button>
		</div>
	</form>
	<ul class="navbar-nav navbar-right">
		<li class="dropdown dropdown-list-toggle d_none">
			<a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep"><i class="ion ion-ios-bell-outline"></i></a>
			<div class="dropdown-menu dropdown-list dropdown-menu-right">
				<div class="dropdown-header">
					Notifications
					<div class="float-right">
						<a href="#">View All</a>
					</div>
				</div>
				<div class="dropdown-list-content">
					<a href="#" class="dropdown-item dropdown-item-unread">
						<img alt="image" src="~/Content/img/avatar/avatar-1.jpeg" class="rounded-circle dropdown-item-img">
						<div class="dropdown-item-desc">
							<b>Kusnaedi</b> has moved task <b>Fix bug header</b> to <b>Done</b>
							<div class="time">10 Hours Ago</div>
						</div>
					</a>
					<a href="#" class="dropdown-item dropdown-item-unread">
						<img alt="image" src="~/Content/img/avatar/avatar-2.jpeg" class="rounded-circle dropdown-item-img">
						<div class="dropdown-item-desc">
							<b>Ujang Maman</b> has moved task <b>Fix bug footer</b> to <b>Progress</b>
							<div class="time">12 Hours Ago</div>
						</div>
					</a>
					<a href="#" class="dropdown-item">
						<img alt="image" src="~/Content/img/avatar/avatar-3.jpeg" class="rounded-circle dropdown-item-img">
						<div class="dropdown-item-desc">
							<b>Agung Ardiansyah</b> has moved task <b>Fix bug sidebar</b> to <b>Done</b>
							<div class="time">12 Hours Ago</div>
						</div>
					</a>
					<a href="#" class="dropdown-item">
						<img alt="image" src="~/Content/img/avatar/avatar-4.jpeg" class="rounded-circle dropdown-item-img">
						<div class="dropdown-item-desc">
							<b>Ardian Rahardiansyah</b> has moved task <b>Fix bug navbar</b> to <b>Done</b>
							<div class="time">16 Hours Ago</div>
						</div>
					</a>
					<a href="#" class="dropdown-item">
						<img alt="image" src="~/Content/img/avatar/avatar-5.jpeg" class="rounded-circle dropdown-item-img">
						<div class="dropdown-item-desc">
							<b>Alfa Zulkarnain</b> has moved task <b>Add logo</b> to <b>Done</b>
							<div class="time">Yesterday</div>
						</div>
					</a>
				</div>
			</div>
		</li>
		@if (Request.IsAuthenticated)
		{
			<li class="dropdown">
				@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
				{
					<a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg">
						<i class="ion ion-android-person d-lg-none"></i>
						<div class="d-sm-none d-lg-inline-block">WELCOME, @User.Identity.GetUserCompanyName()</div>
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<a href="profile.html" class="dropdown-item has-icon d_none">
							<i class="ion ion-android-person"></i> Profile
						</a>
						@Html.AntiForgeryToken()
						<a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item has-icon">
							<i class="ion ion-log-out"></i>  Log off
						</a>
					</div>
				}
			</li>
		}
	</ul>
</nav>
<div class="main-sidebar">
	<aside id="sidebar-wrapper">
		<div class="sidebar-user d_none">
			<div class="sidebar-user-picture">
				<img alt="image" src="~/Content/images/STB_LOGO.jpg">
			</div>
		</div> <br /> <hr />
		<ul class="sidebar-menu">
			<li class="menu-header">Menus</li>
             @foreach (var item in Model)
             {
                 if (item.isParent == false && item.parentId == 0)
                    {
                        <li><a href="@Url.Action(item.action, item.controller)"><i class="@item.imageClass"></i> @item.nameOption</a></li>
                    }
                    else
                    {
                        if (item.isParent == true)
                        {
                            <li>
                                <a href="#" class="has-dropdown"><i class="@item.imageClass"></i> <span> @item.nameOption</span></a>
                                <ul class="menu-dropdown">
                                    @foreach (var child in Model.Where(p => p.parentId == item.Id))
                                    {
                                        if (child.controller == null)
                                        {
                                            <li><a href="#"><i class="@child.imageClass"></i> @child.nameOption</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="@Url.Action(child.action, child.controller)"><i class="@child.imageClass"></i> @child.nameOption</a></li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                    }
             }
			<!--<li>
				<a href="#" class="has-dropdown"><i class="ion ion-ios-albums-outline"></i><span>Application</span></a>
				<ul class="menu-dropdown">
					<li><a href="NewApplications"><i class="ion ion-ios-circle-outline"></i> New Application </a></li>
					<li><a href="ViewAll"><i class="ion ion-ios-circle-outline"></i> My Applications </a></li>
				</ul>
			</li>-->
		</ul>
	</aside>
</div>