@model IEnumerable<OnBoarding.ViewModels.ClientCompaniesViewModel>
@{
	Layout = "~/Views/Shared/_AdminNewLayout.cshtml";
}

<section class="section">
	<h5 class="section-header"> My Company List <small><i><a href="~/Client/NewApplications">Click here to submit another application</a></i></small> </h5>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h4>Company List</h4>
				</div>
				<div class="card-body">
					<div class="item-data-retriving d_none">
						<div class="form-group form-row" style="margin-left: 0px !important;">
							<div class="col-12 col-sm-9 col-lg-9">
								<h6><i class="fa fa-adjust"></i> Edit Company Details </h6>
							</div>
							<div class="col-12 col-sm-3 col-lg-3">
								<button id="selectanother" class="btn btn-danger w_full" type="button"><i class="fa fa-check-circle"></i> Select Another Company </button>
							</div>
						</div>
					</div><hr />
					<!--Load Up Data -->
					<center id="RMDLoading_ID" class="r_corners d_none">
						<h6 class="m_top_20 m_bottom_20"> Please wait... Fetching Company Details </h6>
						<img src="~/Content/images/loading-bar.gif" class="img-thumbnail" alt="Loading" style="max-width:160px;">
					</center>
					<!--End Loading Up Data -->
					<div class="item-data-retrived"></div>
					<div id="ViewAll">
						<table id="CompanyList" class="table table-striped table-bordered dataTable" style="width:100%">
							<thead>
								<tr>
									<th>Company Name</th>
									<th>Company Registration</th>
									<th>Company Email</th>
									<th>Status</th>
									<th>Submitted Application</th>
									<th>DateCreated</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td> @item.CompanyName</td>
										<td> @item.CompanyRegNumber</td>
										<td> @item.CompanyEmail</td>
										<td>
											@if (item.Status == 1)
											{
												<center>Active</center>
											}
											else
											{
												<center>In Active</center>
											}
										</td>
										<td>
											@if (item.HasApplication)
											{
												<center>Yes</center>
											}
											else
											{
												<center>No</center>
											}
										</td>
										<td> @Convert.ToDateTime(item.DateCreated).ToString("dd/MM/yyyy")</td>
										<td>
											<center>
												<button data-cid="@item.Id" type="submit" name="submit" class="btn btn-outline-primary btn-md btn-agent-id w_full">
													<span class="fa fa-edit"></span> Edit Company
												</button>
											</center>
										</td>
									</tr>
								}
							</tbody>
							<tfoot></tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">

	$(document).ready(function () {
		//Initialize List
		$('#CompanyList').DataTable({
			responsive: true
		});

		//select-another-item
		$('#selectanother').click(function (e) {
			e.preventDefault();
			$('.item-data-retrived').hide('fast');
			$('.item-data-retriving').hide('fast');
			$('#RMDLoading_ID').hide('fast');
			$('#ViewAll').show('fast');
		});

		//Client Edit Companies
		$('.btn-agent-id').click(function (e) {
			e.preventDefault();
			var CompanyID = $(this).attr('data-cid');
			$('#ViewAll').hide('fast');
			$('#RMDLoading_ID').show();
			$('.item-data-retriving').show('fast');
			$.ajax({
				type: "POST",
				url: "/Client/_LoadEditCompanyDetails",
				data: '{companyId: "' + CompanyID + '" }',
				contentType: "application/json; charset=utf-8",
				dataType: "html",
				success: function (data) {
					$('#RMDLoading_ID').hide();
					$('.item-data-retrived').show();
					$('.item-data-retrived').html(data);
				},
				error: function (xhr, textStatus, errorThrown) {
					if (textStatus === 'error') {
						$('#RMDLoading_ID').hide();
						$('.item-data-retriving').hide('fast');
						$('#ViewAll').show('fast');
						toastr.error('Submission error!. Code: ' + xhr.status + ', Details: ' + errorThrown);
					}
				}
			});
		});
	});

</script>