@model IEnumerable<OnBoarding.ViewModels.ClientSignatoriesViewModel>
@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
	<ul class="nav nav-tabs">
		<li class="active pull-left"><a dat.a-toggle="tab" href="#ContentTab"> Client Signatories </a></li>
	</ul>
	<div class="tab-content">
		<div class="col-lg-12">
			<div id="ContentTab" class="tab-pane fade in active m_top_10">
				<div class="item-data-retriving d_none">
					<div class="row">
						<div class="col-xs-6">
							<h4><p class="text-aqua"><i class="fa fa-adjust"></i> View Client Details </p></h4>
						</div>
						<div class="col-xs-6">
							<button class="btn btn-danger pull-right select-another-item">
								<span class="glyphicon glyphicon-check"></span> Select Another Client
							</button>
						</div>
					</div><hr />
					<!--Load Up Data -->
					<center id="RMDLoading_ID" class="d_none r_corners">
						<h4 class="m_top_20 m_bottom_20"> Please wait... Fetching Client Details </h4>
						<img src="~/Content/images/loading-bar.gif" class="img-thumbnail" alt="Loading" style="max-width:160px;">
					</center>
					<!--End Loading Up Data -->
				</div>
				<div class="item-data-retrived"></div>
				<div id="ViewAllArea">
					<table id="ClientList" class="display nowrap" style="width:100%">
						<thead>
							<tr>
								<th>Names</th>
								<th>Client</th>
								<th>Status</th>
								<th>Accepted Terms</th>
								<th>Date Created</th>
								<th>View</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									<td> @item.Surname @item.Othernames </td>
									<td> @item.ClientName</td>
									<td> @item.Status</td>
									<td> @item.AcceptedTAC</td>
									<td> @item.DateCreated</td>
									<td>
										<center>
											<button data-id='@item.SignatoryId' type="submit" name="submit" class="btn btn-info btn-md btn-agent-id w_full">
												<span class="glyphicon glyphicon-edit"></span> View
											</button>
										</center>
									</td>
									<td>
										<center>
											<button data-id='@item.SignatoryId' type="submit" name="submit" class="btn btn-danger btn-md btn-delete-id w_full">
												<span class="glyphicon glyphicon-edit"></span> Delete
											</button>
										</center>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<!--Start Confirm Delete Modal -->
<div class="modal fade" id="LoadDeleteModal" role="dialog" aria-labelledby="LoadDeleteModal">
	<div class="modal-dialog" style="width:500px;">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="t_aling_c"><i class="fa fa-warning" style="font-size:30px; color:red"></i> Delete Client Signatory </h5>
			</div>
			<div class="students-data"></div>
			<div class="modal-footer">
				<div class="col-lg-12">
					<center class="m_top_10">
						<b> Global Markets Onboarding System  &copy; 2018, Stanbic Bank Kenya </b>
					</center>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function () {

		//Function Load modal
		function LoadUpModal(getSignatoryId) {
			$('#LoadDeleteModal').modal({ backdrop: 'static', keyboard: false });
			$.ajax({
				type: "POST",
				url: "/Admin/LoadDeleteSignatory",
				data: '{getSignatoryId: "' + getSignatoryId + '" }',
				contentType: "application/json; charset=utf-8",
				dataType: "html",
				success: function (data) {
					$('.students-data').html(data);
				}
			});
		}

		$('.btn-delete-id').click(function (e) {
			e.preventDefault();
			var getSignatoryId = $(this).attr('data-id');
			LoadUpModal(getSignatoryId);
		});

		//select-another-item
		$('.select-another-item').click(function (e) {
			e.preventDefault();
			$('.item-data-retrived').hide('fast');
			$('.item-data-retriving').hide('fast');
			$('#ViewAllArea').show('fast');
		});

		//View Signatory
		$('.btn-agent-id').click(function (e) {
			e.preventDefault();
			var signatoryId = $(this).attr('data-id');
			$('#ViewAllArea').hide('fast');
			$('#RMDLoading_ID').show();
			$('.item-data-retriving').show('fast');

			$.ajax({
				type: "POST",
				url: "/Admin/ViewSignatory",
				data: '{signatoryId: "' + signatoryId + '" }',
				contentType: "application/json; charset=utf-8",
				dataType: "html",

				success: function (data) {
					$('#RMDLoading_ID').hide();
					$('.item-data-retrived').show();
					$('.item-data-retrived').html(data);
				}
			});
		});

		$('#ClientList').DataTable({
			responsive: true
		});

	});
</script>