@model IEnumerable<OnBoarding.ViewModels.SystemCurrencyViewModel>
<div class="row">
	<div class="col-md-12">
		<h5><b> Listed System Currencies </b></h5>
		<table id="CurrencyList" class="display nowrap m_top_10" style="width:100%">
			<thead>
				<tr>
					<th>#</th>
					<th>Currency Name</th>
					<th>Short Name</th>
					<th>Status</th>
					<th>Date Created</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td> @item.Id</td>
						<td> @item.CurrencyName</td>
						<td> @item.CurrencyShort</td>
						<td> @item.StatusName</td>
						<td> @item.DateCreated</td>
						<td>
							<center>
								<button data-id='@item.Id' type="submit" name="submit" class="btn btn-info btn-md btn-edit-currency w_full">
									<span class="glyphicon glyphicon-edit"></span> Edit
								</button>
							</center>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
<script type="text/javascript">

	$(document).ready(function () {
        $('#CurrencyList').DataTable({
            responsive: true
        });
	});

	$('.btn-edit-currency').click(function (e) {
		e.preventDefault();
		var CurrencyID = $(this).attr('data-id');
		$('#LoadUpModal').modal({ backdrop: 'static', keyboard: false });
		$.ajax({
			type: "POST",
			url: "/Admin/LoadEditCurrency",
			data: '{getCurrencyId: "' + CurrencyID + '" }',
			async: true,
			contentType: "application/json; charset=utf-8",
			dataType: "html",
			success: function (data) {
				$('.modal-data').html(data);
			}
		});
	});
</script>

