@model IEnumerable<OnBoarding.ViewModels.ClientSignatoriesViewModel>
<div class="row">
	<div class="col-md-12">
		<table id="RepresentativesList" class="display nowrap m_top_10" style="width:100%">
			<thead>
				<tr>
					<th>Names</th>
					<th>Client</th>
					<th>Status</th>
					<th>Accepted Terms</th>
					<th>Date Created</th>
					<th>View</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td> @item.Surname @item.Othernames </td>
						<td> @item.ClientName</td>
						<td> @item.Status</td>
						<td> @item.AcceptedTAC</td>
						<td> @item.DateCreated</td>
						<td>
							<center>
								<button data-id='@item.SignatoryId' type="submit" name="submit" class="btn btn-register btn-md btn-agent-id w_full">
									<span class="glyphicon glyphicon-edit"></span> View
								</button>
							</center>
						</td>
						<td>
							<center>
								<button data-id='@item.SignatoryId' type="submit" name="submit" class="btn btn-danger btn-md btn-delete-id w_full">
									<span class="glyphicon glyphicon-edit"></span> Delete
								</button>
							</center>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
<!--Start Confirm Delete Modal -->
<div class="modal fade" id="LoadDeleteModal" role="dialog" aria-labelledby="LoadDeleteModal">
	<div class="modal-dialog" style="width:500px;">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="t_aling_c"><i class="fa fa-warning" style="font-size:30px; color:red"></i> Delete Signatory? </h5>
			</div>
			<div class="students-data"></div>
			<div class="modal-footer">
				<div class="col-lg-12">
					<center class="m_top_10">
						<b> Global Markets Onboarding System  &copy; Stanbic Bank Kenya</b>
					</center>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		$('#RepresentativesList').DataTable({
			responsive: true
		});
		//Function Load modal
		function LoadUpModal(getSignatoryId) {
			$('#LoadDeleteModal').modal({ backdrop: 'static', keyboard: false });
			$.ajax({
				type: "POST",
				url: "/Admin/LoadDeleteRepresentative",
				data: '{getSignatoryId: "' + getSignatoryId + '" }',
				contentType: "application/json; charset=utf-8",
				dataType: "html",
				success: function (data) {
					$('.students-data').html(data);
				}
			});
		}

		$('.btn-delete-id').click(function (e) {
			e.preventDefault();
			var getSignatoryId = $(this).attr('data-id');
			LoadUpModal(getSignatoryId);
		});
	});
</script>
