@{
	ViewBag.Message = "Welcome to Global Markets Onboarding Portal";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="section">
	<h3 class="section-header">
		Dashboard
	</h3>
	<div class="row">
		<div class="col-lg-4 col-md-4 col-12">
			<div class="card card-sm-4">
				<div class="card-icon bg-primary">
					<i class="ion ion-person"></i>
				</div>
				<div class="card-wrap">
					<div class="card-header">
					  <h4>Registered Clients</h4>
					</div>
					<div class="card-body">
					  @ViewData["RegisteredClients"]
					</div>
				</div>
				<div class="card-cta"> <a href="/Gmo/RegisteredClients"> View All <i class="ion ion-ios-arrow-right"></i> </a></div> 
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-12">
			<div class="card card-sm-4">
				<div class="card-icon bg-success">
					<i class="fa fa-check-circle"></i>
				</div>
				<div class="card-wrap">
					<div class="card-header">
					  <h4>Approved Applications</h4>
					</div>
					<div class="card-body">
					  @ViewData["CompletedApplications"]
					</div>
				</div>
				<div class="card-cta al"> <a href="/Gmo/ViewAll"> View All <i class="ion ion-ios-arrow-right"></i> </a></div> 
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-12">
			<div class="card card-sm-4">
				<div class="card-icon bg-warning">
					<i class="ion ion-paper-airplane"></i>
				</div>
				<div class="card-wrap">
					<div class="card-header">
					  <h4>Incomplete Applications</h4>
					</div>
					<div class="card-body">
					  @ViewData["InCompleteApplications"]
					</div>
				</div>
				<div class="card-cta"> <a href="/Gmo/InCompleteApplications"> View All <i class="ion ion-ios-arrow-right"></i> </a></div> 
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-12 d-none">
			<div class="card card-sm-4">
				<div class="card-icon bg-danger">
					<i class="ion ion-ios-paper-outline"></i>
				</div>
				<div class="card-wrap">
					<div class="card-header">
					 <h4>Pending OPS Approval</h4>
					</div>
					<div class="card-body">
					  @ViewData["PendingOpsApprovals"]
					</div>
				</div>
				<div class="card-cta"> <a href="/Gmo/PendingOpsApproval"> View All <i class="ion ion-ios-arrow-right"></i> </a></div> 
			</div>
		</div>
	</div><hr/>
	<div class="row d-none">
		<div class="col-lg-3 col-md-6 col-12">
			<div class="card card-sm-4">
				<div class="card-icon bg-danger">
					<i class="ion ion-ios-paper-outline"></i>
				</div>
				<div class="card-wrap">
					<div class="card-header">
					 <h4>Pending POA Approval</h4>
					</div>
					<div class="card-body">
					  @ViewData["PendingPOAApprovals"]
					</div>
				</div>
				<div class="card-cta"> <a href="/Gmo/PendingPoaApproval"> View All <i class="ion ion-ios-arrow-right"></i> </a></div> 
			</div>
		</div> 
	</div>
	<!-- /.row -->
<div class="row">
	<div class="col-lg-6 col-md-6 col-12">
		<div class="card">
			<div class="card-header">
				<h4>Menu Quicklinks</h4>
			</div>
			<div class="card-body">
				<div class="bd-example">
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col">Menu</th>
								<th scope="col">Quick Link</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row"><span class="step">1</span></th>
								<td>View Registered Clients</td>
								<td><a href="/Gmo/RegisteredClients"> Registered Clients </a></td>
							</tr>
							<tr>
								<th scope="row"><span class="step">2</span></th>
								<td> Completed Applications </td>
								<td><a href="/Gmo/ViewAll"> Complete Applications </a></td>
							</tr> 
							<tr>
								<th scope="row"><span class="step">4</span></th>
								<td> View Uploaded Clients</td>
								<td><a href="/Gmo/ApproveUploads"> Uploaded Clients </a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /.row -->

	<!-- /.row -->
</section>

<script type="text/javascript">
	$(document).ready(function () {
		$(function () {
			toastr.success('@ViewBag.Message');
		});
	});
</script>