@model IEnumerable<OnBoarding.ViewModels.ClientApplicationsViewModel>
@{
    ViewBag.Title = "ViewAll";
    Layout = "~/Views/Shared/_AdminNewLayout.cshtml";
}

<section class="section">
    <h4 class="section-header">
        My Nominations 
    </h4>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Nomination list</h4>
                </div>
                <div class="card-body">
                    <div class="item-data-retriving d_none">
                        <div class="float-right">
                            <button class="btn btn-danger select-another-item">
                                <i class="fa fa ion-android-cancel"></i> Cancel
                            </button>
                        </div>
                        <h6><i class="fa fa-adjust"></i> Accept Nomination </h6>
                        <hr />
                        <!--Load Up Data -->
                        <center id="RMDLoading_ID" class="d_none r_corners">
                            <h4 class="m_top_20 m_bottom_20"> Please wait... Fetching Nomination Details </h4>
                            <img src="~/Content/images/loading-bar.gif" class="img-thumbnail" alt="Loading" style="max-width:160px;">
                        </center>
                        <!--End Loading Up Data -->
                    </div>
                    <div class="item-data-retrived"></div>
                    <div id="ViewAllArea" class="table-responsive">
                        <table id="ApplicationsList" class="table table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Company Name</th>
									<th>Nomination Type</th>
                                    <th>Date Nominated</th>
                                    <th>Nomination Status</th>
                                    <th>View</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td> @item.Client</td>
									<td>
										@if (item.NominationType == 1)
										{
											<p>Signatory</p>
										}
										else if (item.NominationType == 2)
										{
											<p>Representative</p>
										}
										else
										{
										}
									</td>
                                    <td> @item.DateCreated</td>
									<td>
										@if (item.NominationStatus == 0)
										{
											<p>Pending Approval</p>
										}
										else if (item.NominationStatus == 1)
										{
											<p class="text-success"><i class="fa fa-check-circle"></i> Approved </p>
										}
										else
										{
											<center><i class="fa fa-shield-alt fa-2x" style="color:red;"></i></center>
										}
									</td>
									<td>
										@if (item.NominationStatus == 0)
										{
											<center>
												<button data-id='@item.ApplicationID' data-cid='@item.CompanyID' data-nid='@item.NominationType' type="submit" name="submit" class="btn btn-outline-primary btn-md btn-agent-id w_full">
													<i class="fa fa fa-check-circle"></i> View Details
												</button>
											</center>
										}
										else
										{
											<center>
												<i class="fa fa-shield-alt fa-2x" style="color:red;"></i>
											</center>
										}
									</td>
                                </tr>
                                }
                            </tbody>
                            <tfoot></tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {

        $('#ApplicationsList').DataTable({
            responsive: true
        });

        //select-another-item
        $('.select-another-item').click(function (e) {
            e.preventDefault();
            $('.item-data-retrived').hide('fast');
            $('.item-data-retriving').hide('fast');
            $('#ViewAllArea').show('fast');
        });

        //Approve Nomination
        $('.btn-agent-id').click(function (e) {
            e.preventDefault();
            var ApplicationID = $(this).attr('data-id');
			var CompanyID = $(this).attr('data-cid');
			var NominationID = $(this).attr('data-nid');
			//Show hide Divs
            $('#ViewAllArea').hide('fast');
            $('#RMDLoading_ID').show();
            $('.item-data-retriving').show('fast');
			//If nimonation is Signatory
			if (NominationID == 1) {
				$.ajax({
					type: "POST",
					url: "/Signatory/ViewNominationDetails",
					data: '{applicationId: "' + ApplicationID + '", companyId: "' + CompanyID + '" }',
					contentType: "application/json; charset=utf-8",
					dataType: "html",
					success: function (data) {
						$('#RMDLoading_ID').hide();
						$('.item-data-retrived').show();
						$('.item-data-retrived').html(data);
					},
					error: function (xhr, textStatus, errorThrown) {
						if (textStatus === 'error') {
							$("#RMDLoading_ID").hide('fast');
							$('#ViewAllArea').show('fast');
							$('.item-data-retrived').hide();
							toastr.error('Submission error! Code: ' + xhr.status + ' Details: ' + errorThrown);
						}
					},
				});
			}
			//If nimonation is for reprsentative
			else if (NominationID == 2) {
					$.ajax({
						type: "POST",
						url: "/DesignatedUser/ViewNominationDetails",
						data: '{applicationId: "' + ApplicationID + '", companyId: "' + CompanyID + '" }',
						contentType: "application/json; charset=utf-8",
						dataType: "html",
						success: function (data) {
							$('#RMDLoading_ID').hide();
							$('.item-data-retrived').show();
							$('.item-data-retrived').html(data);
						},
						error: function (xhr, textStatus, errorThrown) {
							if (textStatus === 'error') {
								$("#RMDLoading_ID").hide('fast');
								$('#ViewAllArea').show('fast');
								$('.item-data-retrived').hide();
								toastr.error('Submission error! Code: ' + xhr.status + ' Details: ' + errorThrown);
							}
						},
					});
			}
			else {
				$('#ViewAllArea').show('fast');
				$('#RMDLoading_ID').hide();
				$('.item-data-retriving').hide('fast');
				toastr.error('Error! Invalid Nomination details');
			}
        });
    });

</script>
